#!/bin/bash
set -eou pipefail

TS=$(date +%Y%m%d_%H%M%S%Z)
LOGFILE=~/.local/logs/backup-${TS}.log
GOOGLE_PROJECT_ID={{desktop_google_project_number}}
GOOGLE_APPLICATION_CREDENTIALS={{restic_google_credentials_file}}

restic backup ~ \
    --repository-file {{restic_repository_file}} \
    --password-file {{restic_password_file}} \
    --exclude-file={{restic_exclude_file}} \
    --tag homedir \
    --verbose 2>&1 \
    | tee $LOGFILE

status=$?
if [ $status -ne 0 ]; then
    notify-send "🚨 Backup failed"
else
    notify-send "💾 Backup succeeded"
fi
exit $status
