{
  "type": "service_account",
  "project_id": "{{desktop_google_project_id}}",
  "private_key_id": "{{desktop_google_private_key_id}}",
  "private_key": "{{desktop_google_private_key}}",
  "client_email": "{{desktop_google_client_email}}",
  "client_id": "{{desktop_google_client_id}}",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "{{desktop_google_client_cert_url}}"
}